<div class="row">
  <div class="col-12">
    <div class="element">
      <h3>Sequenzer</h3>
      <div class="form-check">
        <label class="form-check-label" for="sequenzerKeyboardEnabled">Enable Sequenzer for Keyboard</label>
        <input type="checkbox" id="sequenzerKeyboardEnabled" class="form-check-input" [(ngModel)]="synthService.sequencerEnabled">
      </div>
      <div class="row mb-3" *ngIf="!synthService.sequencerEnabled">
        <div class="col-6">
          <div class="row">
            <div class="col-3">
              <label class="form-label">Root Note</label>
            </div>
            <div class="col-9">
              <select class="form-select" [(ngModel)]="synthService.sequencerRootNote">
                <option *ngFor="let rootNote of rootNotes" [ngValue]="rootNote">{{rootNote}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-6">
          <button class="btn btn-success" *ngIf="!synthService.sequenzerPlaying" (click)="play()">Play Sequence</button>
          <button class="btn btn-danger" *ngIf="synthService.sequenzerPlaying" (click)="stop()">Stop Sequence</button>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-6">
          <label class="form-label">Active Steps</label>
          <div class="row">
            <div class="col-10">
              <input class="form-range" data-orientation="vertical" type="range" min="1" max="16" step="1" [(ngModel)]="synthService.sequencerActiveStepsCount">
            </div>
            <div class="col-2">
              <input type="text" class="form-control" [(ngModel)]="synthService.sequencerActiveStepsCount">
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="row">
            <div class="col-6">
              <label class="form-label">Tempo</label>
              <select class="form-select" [(ngModel)]="synthService.sequencerInterval">
                <option [ngValue]="'1n'">1n</option>
                <option [ngValue]="'2n'">2n</option>
                <option [ngValue]="'4n'">4n</option>
                <option [ngValue]="'8n'">8n</option>
                <option [ngValue]="'16n'">16n</option>
                <option [ngValue]="'32n'">32n</option>
              </select>
            </div>
            <div class="col-6">
              <label class="form-label">BPM</label>
              <input type="text" class="form-control" [(ngModel)]="synthService.tempo">
            </div>
          </div>
        </div>
      </div>
      <div class="sequenzer">
        <div class="step" *ngFor="let step of synthService.sequencerSteps; let i = index" [ngClass]="{'playing': (stepPlaying === i) && synthService.sequenzerPlaying, disabled: i+1 > synthService.sequencerActiveStepsCount}">
          <div class="light"></div>
          <div class="step-toggle" [ngClass]="{'armed': step.armed}" (click)="toggleArmed(i)">&nbsp;</div>
          <div>
            <input class="form-range" data-orientation="vertical" type="range" min="0" max="1" step="0.1" [(ngModel)]="step.velocity">
            <p class="text-sm-center">{{step.velocity}}</p>
          </div>
          <div>
            <input class="form-range" data-orientation="vertical" type="range" min="-12" max="12" step="1" [(ngModel)]="step.pitch">
            <p class="text-sm-center">{{step.pitch}}</p>
          </div>
          <div>
            <select class="form-select-sm" style="width: 100%" [(ngModel)]="step.duration">
              <option [ngValue]="'1n'">1n</option>
              <option [ngValue]="'2n'">2n</option>
              <option [ngValue]="'4n'">4n</option>
              <option [ngValue]="'8n'">8n</option>
              <option [ngValue]="'16n'">16n</option>
              <option [ngValue]="'32n'">32n</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

