<div class="container">
  <!--<ins-knob-input></ins-knob-input>-->
  <p *ngIf="!supported">
    Web MIDI API is not supported by your browser
  </p>
  <div *ngIf="started; else button">
    <ins-midi-monitor></ins-midi-monitor>
    <div class="row mb-3">
      <ins-oscillator class="col" *ngFor="let synth of oscillators; let i = index" [name]="'Oscillator ' + (i + 1)" [synth]="synth"></ins-oscillator>
    </div>
    <div class="row mb-3">
      <ins-reverb class="col" [reverb]="synthService.reverb"></ins-reverb>
      <ins-delay class="col" [delay]="synthService.delay"></ins-delay>
      <ins-phaser class="col" [phaser]="synthService.phaser"></ins-phaser>
      <ins-chorus class="col" [chorus]="synthService.chorus"></ins-chorus>
    </div>
    <div class="row mb-3">
      <ins-lfo class="col" [lfo]="synthService.lfo"></ins-lfo>
    </div>
    <ins-sequenzer></ins-sequenzer>
    <ins-keyboard></ins-keyboard>
  </div>
  <ng-template #button>
    <button class="btn btn-success" (click)="start()">
      Start AudioContext
    </button>
  </ng-template>
  <router-outlet></router-outlet>
</div>
